</main>
<footer class="footer footer.fixar-rodape">
  <div class="container footer-container">
    <!-- <a class="logo" href="#"
        ><img src="images/Logo - Sem fundo.png" width="65"
      /></a>

      <p>
        ©Todos os direitos reservados.
      </p>

      <a class="facebook" href="#"
        ><img src="images/facebook logo.png" width="45" /><img
          src="images/email logo.png"
          width="45" /><img src="images/instagram logo.png" width="45"
      /></a>
    </div> -->
    <div class="col-2 logo facebook" href="/"><img src="images/Logo - Sem fundo.png" width="65"></div>
    <div class="col-4 facebook">
      <p>
        ©Todos os direitos reservados.
      </p>
    </div>
    <div class="col-2 facebook"><i class="fab fa-3x fa-facebook-f"></i></div>
    <div class="col-2 facebook"><i class="far fa-3x fa-envelope"></i></div>
    <div class="col-2 facebook"><i class="fab fa-3x fa-instagram "></i></div>
    

</footer>
</body>

</html>