</main>
<footer class="footer">
    <div class="container footer-container">
      <a class="logo" href="#"
        ><img src="images/Logo - Sem fundo.png" width="65"
      /></a>

      <p>
        ©Todos os direitos reservados.
      </p>

      <a class="facebook" href="#"
        ><img src="images/facebook logo.png" width="45" /><img
          src="images/email logo.png"
          width="45" /><img src="images/instagram logo.png" width="45"
      /></a>
    </div>
  </footer>
</body>
</html>