<body>
    <header class="header">
      <div class="row cabecalhoNovo">
        <!-- Menu Principal, Com drop Down -->
        <div class="testando col-1 col-sm-1 col-md-1 col-lg-1 dropdown">
          <button type="button" class="btn btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-2x tamanhoIcone fa-bars"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="http://localhost:3000/"><b>INÍCIO</b></a>
            <a class="dropdown-item" href="#">SMARTPHONE</a>
            <a class="dropdown-item" href="#">NOTEBOOK</a>
            <a class="dropdown-item" href="#">ELETRODOMÉSTICOS</a>
            <a class="dropdown-item" href="#">VIDEOGAMES</a>
            <a class="dropdown-item" href="#">TELEVISÃO</a>
          </div>
        </div>
        
       <!-- Input de busca -->   
       <div class="testando  input-group col-7 col-sm-8 col-md-8 col-lg-9">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default " type="submit">
              <i class="fas fa-2x tamanhoIcone fa-search"></i>
            </button>
          </div>
        </div>
  
        <!-- Button de carrinho com dropdown -->
        <div class="testando  col-1 col-sm-1 col-md-1 col-lg-1">
          <a href="/carrinho">
          <button type="button" class="btn btn-lg">
            <i class="fas fa-2x tamanhoIcone fa-shopping-cart"></i>
          </button>
        </a>
        </div>
  
        <!-- Button de login -->
        <div class="testando col-2 col-sm-2 col-md-2 col-lg-1">
          <a href="/login">
            <button type="button" class="btn btn-lg" >
              <i class="fas fa-2x tamanhoIcone fa-user"></i>
            </button>
          </a>
        </div>
        
     
        </nav>
    </header>