<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/iphone-8.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 8</h5>
      <p class="card-text">R$2.500,00</p>
      <a href="/produto5" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>