<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/nintendo-switch.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nintendo Switch Lite</h5>
      <p class="card-text">R$1.299,99</p>
      <a href="/produto4" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>