<div id="produtoCarrinhodeCompras" class="media">
    <img class="mr-3 imagemProdutoCarrinho" src="images/products/xbox-one-x.jpg" alt="Produto 1">
    <div class="media-body textoProdutoCarrinho">
      <h5 class="mt-0">Video Game Xbox One X</h5>
      <p>Valor: <b>R$999,99</b></p>
      <p>Frete: <b>R$19,99</b></p>
      <button type="button" class="btn btn-danger">Excluir Produto</button>
    </div>
</div>
<br>