<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/motorola-v3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Motorola V3</h5>
      <p class="card-text">R$99,99</p>
      <a href="/produto6" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>