<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/xbox-one-x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Video Game Xbox One X</h5>
      <p class="card-text">R$999,99</p>
      <a href="/produto" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>