<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/monitor-benq.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Monitor Benq 28" 4K</h5>
      <p class="card-text">R$1199,99</p>
      <a href="/produto8" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>