<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/go-pro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Camera Go Pro</h5>
      <p class="card-text">R$500,00</p>
      <a href="/produto3" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>