<div class="card cardProduto col" style="width: 18rem;">
    <img class="card-img-top" src="images/products/notebook-dell.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Notebook Dell i3</h5>
      <p class="card-text">R$1.999,99</p>
      <a href="/produto2" class="btn btn-success">Ver Detalhes</a>
    </div>
  </div>