<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<p class="text-center tituloPrincipalCadastroOK" >Cadastro Realizado com sucesso!</p>
<img class="mx-auto d-block" src="/images/sucess.png" alt="" height="150px">
<br>

<%- include('partials/footer'); -%>
