<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<div class="container">
    <p class="tituloPrincipalDaPagina">Cadastro Realizado com sucesso!</p>
    <img class="mx-auto d-block" src="/images/sucess.png" alt="" height="150px">
</div>

<%- include('partials/footer'); -%>
