<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<div class="row formulario">
    <img src="images/login-pagina.png" alt="">
    <input type="text">
    <input type="text">
    <div class="row">
        <input type="checkbox" name="lembrarme" id="lembrarme">
        <label for="lembrarme">Lembrar-me</label>
    </div>
    <button class="btn btn-primary">Entrar</button>
    <a href="">Esqueci a senha</a>
    <a href="">Criar conta</a>
    <p>Acessar com:</p>
    <img src="images/login-facebook.png" alt="">
    <img src="images/login-google.png" alt="">
</div>


<%- include('partials/footer'); -%>