<%- include('partials/head'); -%>
    <%- include('partials/header'); -%>
        <p class="text-left" id="tituloPrincipalCadastroUsuario">Preencha seu endereço</p>
        <br>

        <form action="">
            <div class="form-row">
                <div class=" form col-md-2">
                    <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP (00000-000)">
                </div>
            </div>

            <div class="form-row">
                <div class="form col-md-8">
                    <input type="text" placeholder="Endereço" class="form-control">
                </div>
                <div class="form col-md-4">
                    <input type="text" placeholder="Número" class="form-control ">
                </div>
            </div>

            <div class="form-row">
                <div class="form col-md-12">
                    <input type="text" placeholder="Complemento" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form col-md-5">
                    <input type="text" name="bairro" id="bairro" placeholder="Bairro" class="form-control">
                </div>

                <div class="form col-md-5">
                    <input type="text" name="cidade" id="cidade" placeholder="Cidade" class="form-control">
                </div>

                <div class="form col-md-2">
                    <input type="text" name="estado" id="estado" placeholder="Estado" class="form-control">
                </div>
            </div>
            <br>
            <p class="text-left" id="tituloPrincipalCadastroUsuario">Preencha seus dados pessoais</p>
            <br>
            <div class="form-row">
                <div class="form col-md-6">
                    <input type="text" name="email" id="email" placeholder="Email" class="form-control">
                </div>
                <div class="form col-md-6">
                    <input type="text" name="confirmaEmail" id="confirmaEmail" placeholder="Confirme o Email" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form col-md-6">
                    <input type="text" name="nome" id="nome" placeholder="Nome" class="form-control">
                </div>
                <div class="form col-md-6">
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form col-md-3">
                    <input type="text" name="rg" id="rg" placeholder="RG" class="form-control">
                </div>
                <div class="form-row col-md-3">
                    <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form col-md-3">
                    <input type="text" name="celular" id="celular" placeholder="Celular" class="form-control">
                </div>
                <div class="form col-md-3">
                    <input type="text" name="confirmeCelular" id="confirmeCelular" placeholder="Confirme o telefone" class="form-control">
                </div>
            </div>
        <a href="/cadastrook" class="btn btn-primary">Enviar</a>
            
            <!-- <input type="text" class="form-control inputTeste"> -->

        </form>
        


        <%- include('partials/footer'); -%>