<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
        <div class="container">
            <p class="tituloPrincipalDaPagina">Preencha seu endereço</p>

            <form action="/novoUsuario" method="POST">
                <div class="form-row">
                    <div class=" form col-md-2">
                        <input type="text" class="form-control" name="cep_endereco" id="cep_endereco" placeholder="CEP (00000-000)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form col-md-10">
                        <input type="text" name="endereco" id="endereco" placeholder="Endereço" class="form-control">
                    </div> 
                    <div class="form col-md-2">
                        <input type="number" name="numero_endereco" id="numero_endereco" placeholder="Número" class="form-control ">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form col-md-12">
                        <input type="text" name="complemento_endereco" id="complemento_endereco" placeholder="Complemento" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form col-md-5">
                        <input type="text" name="bairro_endereco" id="bairro_endereco" placeholder="Bairro" class="form-control">
                    </div>

                    <div class="form col-md-5">
                        <input type="text" name="cidade_endereco" id="cidade_endereco" placeholder="Cidade" class="form-control">
                    </div>

                    <div class="form col-md-2">
                        <input type="text" name="uf_endereco" id="uf_endereco" placeholder="Estado" class="form-control">
                    </div>
                </div>
                <br>
                <p class="tituloPrincipalDaPagina">Preencha seus dados pessoais</p>
                <br>
                <div class="form-row">
                    <div class="form col-md-6">
                        <input type="text" name="email" id="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form col-md-6">
                        <input type="text" name="confirmaEmail" id="confirmaEmail" placeholder="Confirme o Email"
                            class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form col-md-6">
                        <input type="text" name="nome" id="nome" placeholder="Nome" class="form-control">
                    </div>
                    <div class="form col-md-6">
                        <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form col-md-3">
                        <input type="text" name="data_nascimento" id="data_nascimento" placeholder="Data de Nascimento" class="form-control">
                    </div>
                    <div class="form col-md-3">
                        <!-- <input type="radio" name="sexo" id="sexo" placeholder="Sexo" class="form-control"> -->
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="sexo" class="custom-control-input">
                            <label class="custom-control-label" for="feminino">Feminino</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="sexo" class="custom-control-input">
                            <label class="custom-control-label" for="masculino">Masculino</label>
                          </div>
                          
                    </div>
                    <div class="form col-md-3">
                        <input type="text" name="tel_celular" id="tel_celular" placeholder="Celular" class="form-control">
                    </div>
                    <div class="form col-md-3">
                        <input type="text" name="tel_residencial" id="tel_residencial" placeholder="Telefone"
                            class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form col-md-3">
                        <input type="password" name="password" id="password" placeholder="Senha" class="form-control">
                    </div>
                    <div class="form col-md-3">
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme a senha"
                            class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <!-- parte do modal -->
                    <!-- Button trigger modal -->
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary form-row" data-toggle="modal"
                        data-target="#exampleModalCenter">
                        Enviar
                    </button>
                    </div>
                    

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="container text-center">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Novo Usuário</h5>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <p class="tituloPrincipalDaPagina">Cadastro Realizado com sucesso!</p>
                                        <img class="mx-auto d-block" src="/images/sucess.png" alt="" height="150px">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form col-md-3">
                                        <div class="modal-footer">
                                            <a href="/login">
                                                <button type="button" class="btn btn-success">Enviar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <%- include('partials/footer'); -%>