<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<div class="container">
    <div class="row">
      <div id="tituloPrincipalCarrinho" class="col text-center">
        <p>Pagamento</p>
      </div>   
    </div>
    <p class="text-center">Escolha um metodo de pagamento</p>   

    <div class="row">
      <div class="card text-center col-3" >
        <img class="card-img-top" src="images/boleto-icone.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Boleto Bancário</h5>
          <p class="card-text">Boleto bancário com vencimento em até 3 dias úteis</p>
          <a href="#" class="btn btn-primary">Gerar Boleto</a>
        </div>
        
      </div>
      <div class="col-1"></div>

      
      <div class="card text-center col-3">
        <img class="card-img-top" src="images/boleto-icone.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Boleto Bancário</h5>
          <p class="card-text">Boleto bancário com vencimento em até 3 dias úteis</p>
          <a href="#" class="btn btn-primary">Gerar Boleto</a>
        </div>
      </div>
      <div class="col-1"></div>
      
      <div class="card text-center col-3">
        <img class="card-img-top" src="images/boleto-icone.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Boleto Bancário</h5>
          <p class="card-text">Boleto bancário com vencimento em até 3 dias úteis</p>
          <a href="#" class="btn btn-primary">Gerar Boleto</a>
        </div>
      </div>
      <div class="col-1"></div>


    </div>
</div>
<!-- <div class="botaoFinalizarPedidoCarrinho">
    <button type="button" class="btn btn-success ">Pagar</button>
</div> -->

<%- include('partials/footer'); -%>