<%- include('partials/head'); -%>
  <%- include('partials/header2'); -%>

    <div class="container">
      <p class="tituloPrincipalDaPagina">Escolha um metodo de pagamento</p>
      

      <div class="row">
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="images/boleto-icone.png" alt="Card image cap">
            <div class="card-body cardPagamento">
              <h5 class="card-title">Boleto Bancário</h5>
              <p class="card-text">Vencimento em até 3 dias úteis.</p>
              <a href="#" class="btn btn-success">Pagar com Boleto</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card ">
            <img class="card-img-top" src="images/pix.png" alt="Card image cap">
            <div class="card-body cardPagamento ">
              <h5 class="card-title ">Pix</h5>
              <p class="card-text">Pague com Pix instantaneamente.</p>
              <a href="#" class="btn btn-success">Pagar com Pix</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="images/credit-card.png" alt="Card image cap">
            <div class="card-body cardPagamento">
              <h5 class="card-title">Cartão de Crédito</h5>
              <p class="card-text">Pague em até 12x sem juros.</p>
              <a href="#" class="btn btn-success">Pagar com Cartão</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); -%>