<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container produtoMargim">
        
        <p class="tituloPrincipalDaPagina">Apple iPhone 8 - 256GB</p>
        <div class="row">
            <div class="col">
                <img src="images/products/iphone-8.jpg" alt="" class="imagemProduto rounded">
            </div>

            <div class="col">
                <p>Apple iPhone 8 - 256GB - Cinza espacial</p>
                <p>Cinza espacial</p>
                <p><b>Acompanha:</b></p>
                <p>Carregador e Fone</p>
                <p>Local: Juiz de Fora - MG</p>
                <div >Valor: <b>R$2500,00</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>