<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container">
        
        <p class="tituloPrincipalDaPagina">Relógio Mi Band 5</p>
        <div class="row">
            <div class="col">
                <img src="images/products/mi-band-5.jpg" alt="" class="imagemProduto rounded">
            </div>

            <div class="col">
                <p>Relógio Mi Band 5</p>
                <p>Preto</p>
                <p><b>Acompanha:</b></p>
                <p>Carregador</p>
                <p>Local: São Paulo - SP</p>
                <div >Valor: <b>R$199,99</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>