<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container">
        
        <p class="tituloPrincipalDaPagina">Video Game Xbox One X</p>
        <div class="row">
            <div class="col">
                <img src="images/products/xbox-one-x.jpg" alt="" class="imagemProduto rounded">
                <!-- <img src="images/xbox-one-x.jpg" alt="" class="imagemProduto rounded"> -->
            </div>

            <div class="col">
                <p>Vendo videogame Xbox One X</p>
                <p>Contém 1 controle original, 1 jogo Star Wars Jedi Fallen, Teclado Keyboard, Cabo HDMI e Cabo de força (Alimentação).</p>
                <p>Local: São Paulo</p>
                <div >Valor: <b>R$999,99</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>