<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container produtoMargim">
        
        <p class="tituloPrincipalDaPagina">Camera Go Pro Hero 6 4k</p>
        <div class="row">
            <div class="col">
                <img src="images/products/go-pro.jpg" alt="" class="imagemProduto rounded">
            </div>

            <div class="col">
                <p>Camera Go Pro Hero 6 4k</p>
                <p>Go Pro Hero 6 4k Preto Black. </p>
                <p><b>Acompanha:</b></p>
                <p>Case, 2 Baterias, Case a Prova d'água.</p>
                <p>Local: Rio de Janeiro - RJ</p>
                <div >Valor: <b>R$500,00</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>