<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container">
        
        <p class="tituloPrincipalDaPagina">Notebook Dell i3</p>
        <div class="row">
            <div class="col">
                <img src="images/products/notebook-dell.jpg" alt="" class="imagemProduto rounded">
            </div>

            <div class="col">
                <p>Notebook Dell i3 4Gb 240HD</p>
                <p>Acompanha Carregador, Tela está funcionando.</p>
                <p>Local: Santos - SP</p>
                <div >Valor: <b>R$1999,99</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>