<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container">
        
        <p class="tituloPrincipalDaPagina">Nintendo Switch Lite</p>
        <div class="row">
            <div class="col">
                <img src="images/products/nintendo-switch.jpg" alt="" class="imagemProduto rounded">
            </div>

            <div class="col">
                <p>Nintendo Switch Lite</p>
                <p>Modelo Lite, Cinza</p>
                <p><b>Acompanha:</b></p>
                <p>Carregador, Mario Kart 8 Deluxe, Splatoon 2, Minecraft</p>
                <p>Local: Búzios - RJ</p>
                <div >Valor: <b>R$1.299,99</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>