<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>
<div class="container">
        
        <p class="tituloPrincipalDaPagina">Celular Motorola V3</p>
        <div class="row">
            <div class="col">
                <img src="images/products/motorola-v3.jpg" alt="" class="imagemProduto rounded">
            </div>

            <div class="col">
                <p>Celular Motorola V3</p>
                <p>Preto</p>
                <p><b>Acompanha:</b></p>
                <p>Apenas Celular, não acompanha carregador</p>
                <p>Local: Araraquara - SP</p>
                <div >Valor: <b>R$99,99</b></div>
                <br>
                <a href="/carrinho">
                    <button type="button" class="btn btn-success">Comprar</button>
                </a>
            </div>

            
        </div>
    </div>

        

<%- include('partials/footer'); -%>