<%- include('partials/head'); -%>
    <%- include('partials/header'); -%>

        
        <h1 class="tituloProduto">Video Game Xbox One X</h1>
        <div class="row">
            <div class="col">
                <img src="images/xbox-one-x.jpg" alt="" class="imagemProduto rounded">
            </div>
            <div class="col">
                <p>Seja o primeiro a experimentar o Xbox One X, projetado para os maiores fãs.
                O Project Scorpio Edition tem um design personalizado e suporte vertical. No controle e
                console vêm com a inscrição "Project Scorpio". No Xbox One X os jogos rodam muito melhor.
                Com 40% mais poder do que qualquer outro console, experimente os verdadeiros jogos 4K.
                Os jogos ficam com uma ótima resolução, funcionam sem problemas e carregam rapidamente,
                mesmo em uma tela de 1080p. O Xbox One X também funciona com todos os seus jogos e
                acessórios do Xbox One, bem como o Xbox Live, uma rede multiplayer avançada, que lhe
                oferece mais maneiras de jogar.</p>
                
                <div >Valor: <b>R$999,99</b></div>
                <br>
                <button type="button" class="btn btn-success">Finalizar Compra</button>
            </div>

            
        </div>
        

        

<%- include('partials/footer'); -%>