<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<p>Video Game Xbox One X</p>
<div class="row">
    <div class="col">
        <img src="images/xbox-one-x.jpg" alt="" class="xbox">
    </div>
    <div class="col">b</div>
</div>


<%- include('partials/footer'); -%>
