<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<div class="container ">
    <p class="text-center tituloPrincipalDaPagina" >Email de Recuperação enviado com sucesso!</p>
    <img class="mx-auto d-block" src="/images/sucess_email.png" alt="" height="150px">
</div>

<%- include('partials/footer'); -%>
