<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

        <div class="row recuperacao container ">
            <img src="images/login-pagina.png" alt="" class="form-row">
            <p class="form-row">Digite seu email para a recuperação da senha</p>
            <input class="form-row" type="text" name="" id="" placeholder="mail@mail.com">
            <a href="/recuperacaoOk" class="btn btn-primary form-row">Enviar</a>
        </div>



<%- include('partials/footer'); -%>