<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<p class="text-center tituloPrincipalCadastroOK" >Email de Recuperação enviado com sucesso!</p>
<img class="mx-auto d-block" src="/images/sucess_email.png" alt="" height="150px">
<br>

<%- include('partials/footer'); -%>
