<%- include('partials/head'); -%>
    <%- include('partials/header2'); -%>

        <div class="container">
            <p class="tituloPrincipalDaPagina">Seja bem vindo, Usuário</p>
            <div class="text-center">
                <p><b>Painel Desapetech</b></p>
            </div>

            <div class="row">
                <div class="col">
                    <div class="botaoEnderecoCarrinho">
                        <h5><b>Última Compra</b></h5>
                        <label >Produto: </label>
                        <label >teste</label>
                        <br>
                        <label >Preço: </label>
                        <label >R$99,99</label>
                        <br>
                        <label >Data: </label>
                        <label >00/00/0000</label>
                        <br>
                        <label >Entrega: </label>
                        <label >00/00/0000</label>
                        <br>
                        <a href="#">
                            <button type="button" class="btn btn-info">Ver Mais</button>
                        </a>
                    </div>
                </div>
            
                <div class="col">
                    <div class="botaoEnderecoCarrinho">
                        <h5><b>Vendas:</b></h5>
                        <label >Produto: </label>
                        <label >teste</label>
                        <br>
                        <label >Preço: </label>
                        <label >R$99,99</label>
                        <br>
                        <label >Data: </label>
                        <label >00/00/0000</label>
                        <br>
                        <label >Entrega: </label>
                        <label >00/00/0000</label>
                        <br>
                        <a href="#">
                            <button type="button" class="btn btn-info">Ver Mais</button>
                        </a>
                    </div>
                </div>
            
                <div class="col">
                    <div class="botaoEnderecoCarrinho">
                        <h5><b>Configurações:</b></h5>
                        
                        <a href="/adicionarProduto">
                            <button type="button" class="btn btn-info">Vender</button>
                        </a>
                        <br>
                        <a href="/alterarEndereco">
                            <button type="button" class="btn btn-info">Alterar Endereço</button>
                        </a>
                        <br>
                        <a href="/alterarDadosPessoais">
                            <button type="button" class="btn btn-info">Alterar Dados Pessoais</button>
                        </a>
                        <br>
                        <a href="">
                            <button type="button" class="btn btn-danger">Sair</button>
                        </a>

                        
                    </div>
                </div>
                
            </div>






            </div>
            <%- include('partials/footer'); -%>