.tituloPrincipalAlterarEndereco{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alterarEndereco{
    
    margin-bottom: 120px;
}

.alterarDadosBottom{
    margin-bottom: 120px;

}