p.tituloPrincipalCadastroUsuario{
    margin-top: 20px;
    font-size: 30px;
    text-align: center !important;
    
}

#enviarNovoUsuario{
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

#exampleModalLongTitle{
    text-align: center;
}