<<<<<<< HEAD
*{
  box-sizing: border-box;
}

body{
=======
* {
  box-sizing: border-box;
}

body {
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

<<<<<<< HEAD
p{
  margin-bottom: 25px;
}

.container{
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
=======
p {
  margin-bottom: 25px;
}

.container {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
  /* align-items: center; */
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  vertical-align: middle;
}

.header {
<<<<<<< HEAD
  background-color: #F77F00;
  height: 65px;

=======
  background-color: #f77f00;
  height: 65px;
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

<<<<<<< HEAD
.header-container{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
}

.menu {
=======
.header-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  /* align-items: center; */
}

#hamburguer-menu {
  position: relative;
  left: -205px;
}

.dropdown-menu {
  background-color: #f77f00;
  margin-top: -7px;
  border: none;
}

.dropdown-menu.show {
  position: relative;
  position: absolute;
  left: -175px;
  top: 70px;
}

.separador1 {
  position: fixed;
  left: 98px;
  height: 38px;
  margin-top: 3px;
  border-right: 2px solid white;
}

.logo-header {
  position: fixed;
  left: 110px;
}

.form-inline {
  position: fixed;
  right: 650px;
}

.form-control.mr-sm-2 {
  position: fixed;
  width: 500px;
  left: 380px;
}

#search {
  position: fixed;
  right: 350px;
}

.carrinho {
  position: fixed;
  right: 95px;
}

.separador2 {
  position: fixed;
  right: 75px;
  height: 38px;
  margin-top: 3px;
  border-right: 2px solid white;
}

.login {
  position: fixed;
  right: 20px;
}

#sub-menu {
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  background-color: #003049;
  height: 30px;
  text-align: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 65px;
}

<<<<<<< HEAD
.menu a {
=======
#sub-menu a {
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  text-decoration: none;
  color: white;
}

<<<<<<< HEAD
.navegacao ul{
=======
.navegacao ul {
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  margin: 0;
  padding: 0;
  list-style: none;
}

<<<<<<< HEAD
.navegacao ul li{
  display: inline-block;
}

.navegacao ul li a{
=======
.navegacao ul li {
  display: inline-block;
}

.navegacao ul li a {
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  display: block;
  margin-right: 135px;
}

<<<<<<< HEAD
.dropdown-menu {
  background-color: #F77F00;

  margin-top: -7px;
  border: none;
}

.main{
  padding: 115px;
}

.promocao{
  background-color: #D62828;
=======
.main {
  padding: 115px;
}

.promocao {
  background-color: #d62828;
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
  color: white;
  font-size: 22px;
  text-align: center;
}

.footer {
<<<<<<< HEAD
  background-color: #F77F00;
  text-align: center;
}

.footer-container{
  display: inline-flex;
  justify-content: space-between;
}

.imgLogo{
  width: 45px;
}

/* Parte de responsividade,  320px */

/* Header */
@media only screen and (max-width: 325px) {
  .img-fluid{
    max-width: 100%;
    height: 30px;
    width: 30px;
    margin-left: -10px;
    /* z-index: 1; */
    /* position: relative; */
  }

  #searchText{
    margin-top: -50px;
    width: 180px;
    margin-left: 30px;
    /* visibility: hidden; */
  }

  .imgHidden{
    visibility: hidden;
  }

  #search{
    position: relative;
    margin-left: 220px;
    top: -55px;
  }

  #menuLateral{
    /* position: inherit; */
    /* margin-left: -40px; */
    width: 40px;
    /* visibility: hidden; */
  }

  .dropdown-menu {
    margin-top: -110px;
  }

  /* Footer */
  .imgLogo{
    width: 25px;
    overflow-wrap: break-word;
  }

  .address{
    margin-top: 15px;
    /* font-size: small; */
  }

  .facebook{
    display: grid;
  }
  
}



=======
  background-color: #f77f00;
  text-align: center;
  height: 65px;
}

.footer-container {
  margin: 10px;
  display: inline-flex;
  justify-content: space-between;
}
>>>>>>> d4663b2edfdbccc76a504995288b10ff87cb2948
